body {
    background-color: #EEE;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

header, main, aside, footer {
    padding: 1rem;
    background-color: #FFF;
    border-radius: 0.4rem;
    color: #000;
    text-align: left;
    vertical-align: top;
}

header, footer {
    flex-basis: 100%;
    min-height: 7rem;
}

main {
    flex: 8 1 40rem;
    min-height: 20rem;
}

aside {
    flex: 2 1 20rem;
    min-height: 20rem;
}