@import url(https://use.fontawesome.com/releases/v5.6.3/css/all.css);

body {
    background-color: silver;
}

.fill {
    background-color: black;
    color: white;
}

.hover:hover {
    background-color: green
}

button {
    border-radius: 8px;
    cursor: pointer;
    outline: none;
}